<h1>New Owner</h1>
<%= form_for @owner do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name%>

  <%= f.label :last_name %>
  <%= f.text_field :last_name%>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :race %>
  <%= f.text_field :race %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.submit %>

<% end %>

<%= link_to 'Back', owners_path %>
