<h1>Show ~Individual~ Cat</h1>

Name: <%= @cat.name %>
<br>Age: <%= @cat.age %>
<br>Fur Color: <%= @cat.fur_color %>
<br>Eye Color: <%= @cat.eye_color %>
<br>Food Type: <%= @cat.food_type %>

<br><br>
<%= link_to 'Edit', edit_owner_cat_path(@cat.owner_id, @cat) %> |
<%= link_to 'Back', owner_path(@cat.owner_id) %>
